{
  "presets": [
    "@babel/preset-env",
    "@vue/cli-plugin-babel/preset"
  ],
  "plugins": [
    "@vue/babel-plugin-jsx", // Updated to use Vue's JSX plugin
    "@babel/plugin-transform-runtime" // Use the fully qualified plugin name
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["@babel/plugin-proposal-object-rest-spread"]
    }
  }
}
